@media only screen and (min-width: 220px) {
  nav {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: #212a3e;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;

    img {
      width: 40%;
    }

    .home-icon {
      color: #f1f6f9;
      width: 25px;
      height: 25px;
      margin-left: 5px;
      box-shadow: 2px 2px 2px #f1f6f9;
      border: 1px solid #f1f6f9;
      border-radius: 3px;
    }
  }
}
